
*{
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
}

h1{
  text-align:center;
  color: Black;
}

section{
	
	background-color: gray;
	border-style: solid;
	margin:15px;
	margin-right:10px;
     }
/*.s1{
	position : relative;
	left:30%;
}
.s2{
	position: relative;
	left:30%;
	bottom: 30%;
}
.s3{
	position: relative;
	left:30%;
	bottom:50%;
}*/
p{
	margin:10px;
	margin-top:20px;
	clear:right;
}

h2{
	text-align:center;
    /*width : 10%;*/
	border-left-style: solid;
	border-bottom-style: solid;
	float: right;
	margin:0px;
}
h2.chiken{
	background-color:#F08080;
}
h2.Beef{
	background-color:#CD5C5C;
}
h2.sushi{
	background-color:#F0E68C;
}

@media(min-width: 992px){
	section{
	width:30%;
    float:left;
    padding: 0px;
     }

}

@media (min-width: 768px) and (max-width: 991px) {

	section{
	width:47%;
    float:left;
    padding: 0px;
     }
    .s3{
    width:97%;
    }

}

@media(max-width: 767px){
	section{
	width:99%;
    float:left;
    padding: 0px;
     }

}
